.single-project-container{
    width: 55%;
    margin: auto auto;
    margin-top: 20px;
    border:1px solid black;
    
}
input[type="text"]{ padding: 20px 10px; line-height: 28px; }
input[type="number"] {
	outline: none;
	-moz-appearance: textfield;
}


.project-body{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 10px;
}
.project-title{
   padding: 5px;
}
.project-description{
   padding: 5px;
}
.question{
    min-height: 80px;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content:   space-around;
}

.label{
   margin:2px 2px;
}