  .navbar {
    /* background-color: #282c34; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  
  .nav-logo {
    color: #a92ae0;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bolder;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #a92ae0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
    text-decoration: none;
    color: white;
  }
  
  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #fff;
      left: 0px;
      opacity: 0.92;
      transition: all 0.5s ease;
      z-index: 1;
      box-shadow: -4px 43px 103px -56px rgba(0,0,0,0.75);

    }
    .nav-item .active {
      color: #a92ae0;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #a92ae0;
    }
    .nav-logo {
      color: #a92ae0;
      align-items: center;
      margin-left: 40px;
      margin-top: -2px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bolder;
      flex-grow: 1;
    }
  }


